h1{
    font-size: 42px;
    color: red;
}

#secondaryTytel,
.mainUL .item{
    background-color: black;
    color: white;
}

.text{
    font-size: 21px;
}

.text.otherParagraph{
    color: green;
}

.mainUL{
    color: blue;
}

/* .mainUL .item{
    color: red;
} */