* {
    box-sizing: border-box;
}

body, ul, li {
    display: flex;
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
}

html>body {
    justify-content: center;
    align-items: center;
}

section {
    margin: 200px;
}

ul {
    justify-content: space-between;

    flex-wrap: wrap;
    gap: 64px;
}



li {
    width: calc(453px *.8);
    height: calc(632px * .8);
    border: calc(16px * .8) solid black;
    overflow: hidden;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color: white;
}