html {
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

h1, h2, h3  {
    font-family: Georgia, serif;
    line-height: 1.2;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    gap: 65px;
    margin: 65px;
}