@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import 'https://use.fontawesome.com/releases/v5.15.4/css/all.css';

html {
    font-family: Poppins;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background-color: black;
    color: white;
}

footer a {
    color: white;
}

.button.main {
    display: inline-block;
    background-color: black;
    border: 2px solid black;
    border-radius: 16px;
    padding: 4px 18px;
    border-color: #333333;
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: .1px;
}

.button {
    display: inline-block;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 24px;
    padding: 10px 22px;
    border-color: #333333;
    color: black;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: .1px;
}


.hero {
    padding: 20px 400px;
    height: 90vh;
    background-image: url("./images/landing-photo.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

.hero header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero .nav {
    
    margin-right: 20px;
    margin-left: auto;
}

.hero .nav ul{
    display: flex;
    gap: 30px;
}

.hero main {
    height: 100%;
    display: flex;
    align-items: center;

}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}

.cards {
    display: flex;
    padding: 20px 400px;
}

.card {
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    text-align: center;
}

