body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.card {
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 168px;
    border-radius: 6px;
    padding: 20px;
}

