@import 'https://use.fontawesome.com/releases/v5.15.4/css/all.css';

* {
    box-sizing: border-box;
}



form {
    padding: 30px;
    margin: 20px;
    background-color: #F8F8F8;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    margin-bottom: 20px;
}

.container label {
    width: 70px;
    flex-shrink: 0;
}

.field {
    display: flex;
    align-items: center;
    align-content: start;
    justify-content: start;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
    width: 100%;
    min-width: 50px;
}

input {
    width: 100%;
    border: none;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 5px;
    outline: none;
}

input:focus {
    border: 1px solid dodgerblue;
}


i {
    padding: 5px;
}


@media (max-width:576px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 20px;
    }
}
