html {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: rgb(238, 238, 238);
}

section {
    background-color: rgb(255, 255, 255);

    width: 400px;
    margin: 80px;
}

section button {
    background-color: rgb(0, 153, 0);
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
}

h1, h2, h3, h4 {
    font-family: Georgia, serif;
    font-size: calc(1em/1.2);
}


section img {
    width: 100%;
    aspect-ratio: 2;
    object-fit: cover;
    object-position: center;
}

.content, .button {
    padding: 16px;
}

.button {
    display: flex;
    justify-content: end;
    padding-top: 0;
}

@media (max-width: 500px) {
    section {
        margin: 10px;
        width: 300px;
    }
}
@media (max-width: 300px) {
    section {
        margin: 10px;
        width: 200px;
    }
}